{{ 'skincare-hero.css' |  asset_url | stylesheet_tag }}

<section class="skincare-hero-section">
  <div class="hero-container">
    
    <div class="hero-content">
      <h1 class="hero-title">{{ section.settings.title }}</h1>
      <p class="hero-subtitle">{{ section.settings.subtitle }}</p>
      
      <a href="{{ section.settings.button_link }}" class="hero-btn">
        {{ section.settings.button_label }}
      </a>

      
      <div class="hero-testimonial">
        <div class="rating-stars">
        <span>★★★★★</span>
      </div>

        <p>"{{ section.settings.testimonial_text }}"</p>
        <div class="testimonial-author">
          <span class="author-initials">{{ section.settings.author_initials }}</span>
          <span class="author-name">{{ section.settings.author_name |  upcase }}</span>
        </div>
      </div>
    </div>

    <div class="hero-image-wrapper">
        <img src="{{ 'Group 18.png' | asset_url }}" width="500" height="500" alt="Skincare Product Image" class="stacked-image">
      {% comment %} {% if section.settings.hero_image != blank %}
        <img src="{{ section.settings.hero_image | img_url: 'master' }}" alt="">
      {% else %}width: 600, height: 600
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %} {% endcomment %}
    </div>

  </div>
</section>

{% schema %}
{
  "name": "Skincare Hero Custom",
  "settings": [
    { "type": "text", "id": "title", "label": "Heading", "default": "SKINCARE FOR GUYS THAT AREN'T INTO SKINCARE" },
    { "type": "text", "id": "subtitle", "label": "Subheading", "default": "TRY THE ONE MINUTE SKINCARE ROUTINE." },
    { "type": "text", "id": "button_label", "label": "Button Label", "default": "TRY TODAY!" },
    { "type": "url", "id": "button_link", "label": "Button Link" },
    { "type": "textarea", "id": "testimonial_text", "label": "Testimonial", "default": "I Love this stuff, It Totally changed the game for me" },
    { "type": "text", "id": "author_name", "label": "Author Name", "default": "Peter S." },
    { "type": "text", "id": "author_initials", "label": "Initials", "default": "P.S" }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    { 
        "name": "Skincare Hero Custom" 
    },
    {
      "name": "3 Image Hero",
      "blocks": [
        { "type": "image" },
        { "type": "image" },
        { "type": "image" }
      ]
    }],

}
{% endschema %}