{{ 'skincare-minute.css' | asset_url | stylesheet_tag }}

<section class="skincare-minute-section">
    <div class="skincare-minute-container">
        <div class="skincare-minute-content">
            <p class="skincare-minute-paragraph">Here's how D1 works</p>
            <img src="{{ 'clock.svg'| asset_url }}" width="100" height="100" alt="Clock" class="stacked-image">
            <h1 class="skincare-routine-title">{{ section.settings.title | upcase }}</h1>
        </div>
        
        <div class="skincare-minute-grid">
            <div class="skincare-cards-1">
                <div class="skincare-small-image-wrapper">
                    <p>1</p>
                    <img src="{{ 'Bitmap-15.png' | asset_url }}" width="100" height="100" alt="Step 1" class="stacked-image">    
                </div>
                <img src="{{ 'Bitmap-9.jpg' | asset_url }}" width="100" height="100" alt="Cleanser" class="stacked-image">
                <div class="skincare-minute-grid-col1">
                    <div class="skincare-minute-grid-row1">
                        <img src="{{ 'cleanser.png' | asset_url }}" width="100" height="100" alt="Cleanser Product" class="stacked-image">
                    </div>
                    <div class="skincare-minute-grid-row2">
                        <p>Wash your face with our Bamboo Charcoal Cleanser.</p>
                    </div>
                </div>
            </div>
            <div class="skincare-cards-2">
                <div class="skincare-small-image-wrapper">
                    <p>2</p>
                    <img src="{{ 'Bitmap-15.png' | asset_url }}" width="100" height="100" alt="Step 2" class="stacked-image">                     
                </div>
                <img src="{{ 'Bitmap-10.jpg' | asset_url }}" width="100" height="100" alt="Moisturizer" class="stacked-image">
                <div class="skincare-minute-grid-col1">
                    <div class="skincare-minute-grid-row1">
                        <img src="{{ 'moisturizer.png' | asset_url }}" width="100" height="100" alt="Moisturizer Product" class="stacked-image">
                    </div>
                    <div class="skincare-minute-grid-row2">
                        <p>Apply a dime size amount of All Day Moisturizer evenly to your face.</p>
                    </div>
                </div>
            </div>
            <div class="skincare-cards-3">
                <div class="skincare-small-image-wrapper">
                    <p>3</p>
                    <img src="{{ 'Bitmap-15.png' | asset_url }}" width="100" height="100" alt="Step 3" class="stacked-image">    
                </div>
                <img src="{{ 'Bitmap-11.jpg' | asset_url }}" width="100" height="100" alt="Eye Cream" class="stacked-image">
                <div class="skincare-minute-grid-col1">
                    <div class="skincare-minute-grid-row1">
                        <img src="{{ 'stick.png' | asset_url }}" width="100" height="100" alt="Eye Cream Product" class="stacked-image">
                    </div>
                    <div class="skincare-minute-grid-row2">
                        <p>Apply small amount of our Eye Cream under your eyes and around the sides.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Skincare Minute",
  "settings": [
    { "type": "text", "id": "title", "label": "Heading", "default": "Just 1 Minute a Day" }    
  ],
  "presets": [
    { "name": "Skincare Minute" }
  ]
}
{% endschema %}
