{{ 'skincare-routine.css' |  asset_url | stylesheet_tag }}

<section class="skincare-routine-section">
    <div class="skincare-routine-announcement">
        <p class="skincare-routine-paragraph">
            Just one minute a day will make your skin look healthier and younger
        </p>
    </div>
  <div class="skincare-routine-container">  
    
    <div class="skincare-routine-content">
        <div class="skincare-routine-content-text"> 
            <h1 class="skincare-routine-title">{{ section.settings.title |  upcase }}</h1>
            <p class="skincare-routine-subtitle">{{ section.settings.subtitle }}</p> 

            <hr/>

            <ul class="skincare-routine-check-list">
                <li>Lightweight Formulas</li>
                <li>Easy to use formats</li>
                <li>Clean Ingredients</li>
                <li>Everything you need, nothing you don't</li>
            </ul>
        </div>     

        <div class="skincare-routine-content-image-wrapper">
            <img src="{{ 'Group 17.png' | asset_url }}" width="100" height="100" alt="Skincare Product Image" class="stacked-image">
        </div>
    </div>

    <div class="d1-value-wrapper">
        <div class="d1-value-container">
            <div class="d1-value-item">
            <div class="d1-value-circle">
                <img src="{{ 'Group6.png' | asset_url }}" width="100" height="100" alt="Skincare Product Image" class="stacked-image">
            </div>
            <div class="d1-value-text">
                Four-way stretch<br>Performance<br>Fabric
            </div>
            </div>

            <div class="d1-value-item">
            <div class="d1-value-circle">
                <img src="{{ 'Group6-2.png' | asset_url }}" width="100" height="100" alt="Skincare Product Image" class="stacked-image">

            </div>
            <div class="d1-value-text">
                Advanced<br>Moisture-wicking<br>Technology
            </div>
            </div>

            <div class="d1-value-item">
            <div class="d1-value-circle">
                <img src="{{ 'Group6-1.png' | asset_url }}" width="100" height="100" alt="Skincare Product Image" class="stacked-image">

            </div>
            <div class="d1-value-text">
                100% Squat-Proof<br>Tested &<br>Guaranteed
            </div>
            </div>
        </div>
    </div>
</div>
 
</section>

{%  stylesheet  %} 


{% endstylesheet %}

{% schema %}
{
  "name": "Skincare Routine",
  "settings": [
    { "type": "text", "id": "title", "label": "Heading", "default": "A Simple Routine that works" },
    { "type": "text", "id": "subtitle", "label": "Subheading", "default": "Say goodbye to complicated skincare routines. Our men's skincare line is designed for simplicity and effectiveness. With our lightweight formulas, you can achieve healthier and younger-looking skin with minimal effort. Perfect for guys who are new to skincare or just want to keep it simple." },
    
  ],
  "presets": [
    { 
        "name": "Skincare Routine" 
    }],

}
{% endschema %}